.custom-button {
  background: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
margin-top: -20px;
position: absolute;
  /*margin-right: auto;  Posisikan tombol di paling kiri */
left: 12px; /* Hilangkan padding kiri */
  cursor: pointer;
}
.text-white {
  color: white; /* Mengatur warna teks menjadi putih */
}
.custom-button:hover .custom-icon {
  color: #007bff; /* Warna saat di-hover */
}

  .main-navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    /* Navbar Utama */
    .main-navbar {
        background-color: #319eb2;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      .navbar .navbar-brand {
        text-align: center;
        margin: 0 auto;
      }
      .navbar-nav {
        justify-content: center; /* Pusatkan menu */
        width: 100%;
      }
      
  .accordion {
    margin-top: 30px;
    margin: 50px;
  
  }

  /* Warna judul default */
.accordion-button {
  color: #333; /* Ubah warna sesuai keinginan */
  font-weight: bold;
}

/* Warna judul saat accordion dibuka */
.accordion-button:not(.collapsed) {
  color:whitesmoke; /* Ubah warna sesuai keinginan */
  background-color: #FDB417;
}
  