<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Do You Like Apple?</title>
  <link rel="stylesheet" href="{% static 'css/materimodul1.css' %}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">

</head>
<body>
  <!-- Navbar Utama -->
  <nav class="navbar navbar-expand-lg bg-info py-3">
    <div class="container d-flex align-items-center">
        <a href="{% url 'edu_app:class1' %}">
        <button class="custom-button me-2">
          <i class="bi bi-arrow-left custom-icon"></i>
        </button>
      </a>
      <div class="center-container flex-grow-1 d-flex justify-content-center align-items-center">
        <h5 class="text-white fw-bold mb-0">Do You Like Apple?</h5>
      </div>
    </div>
  </nav>
 
  <div class="video-container">
  <video width="800" height="415" controls>
    <source src="../Video/tes.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>  
</div>


  <!-- Kartu di luar kontainer -->
  <div class="card w-100 mb-3"> <!-- Menggunakan w-100 untuk lebar penuh -->
    <div class="card-body">
      <h5 class="card-title">Rangkuman</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
     
    </div>
  </div>
    <!-- Kartu di luar kontainer -->
    <div class="card w-100 mb-3"> <!-- Menggunakan w-100 untuk lebar penuh -->
      <div class="card-body">
        <h5 class="card-title">Quiz</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="{% url 'edu_app:Quizmodul1' %}" class="btn btn-primary">Kerjakan Quiz</a>
      </div>
    </div>

</body>
</html>