<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>Quiz : My Name Is Joshua</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
   {%endblock %}
    
</head>
<body>

    {% block content %}
    <!-- Navbar Utama -->
  <nav class="navbar navbar-expand-lg bg-info py-3">
    <div class="container d-flex align-items-center">
        <a href="{% url 'edu_app:materimodul1class3' %}">
        <button class="custom-button me-2">
          <i class="bi bi-arrow-left custom-icon"></i>
        </button>
      </a>
      <div class="center-container flex-grow-1 d-flex justify-content-center align-items-center">
        <h5 class="text-white fw-bold mb-0">Quiz : My Name Is Joshua</h5>
      </div>
    </div>
  </nav>
  
  <form method="post" action="{% url 'edu_app:Quizclass3' %}">
    {% csrf_token %}

  <div class="container mt-4">
    <div class="card">
        <div class="card-body ">
            1. Bagaimana cara memperkenalkan diri dalam bahasa Inggris?
            <div class="form-check mt-3 ">
                <input class="form-check-input" type="radio" name="question1" value="A" id="question1-option1" >
                <label class="form-check-label" for="question1-option1">What is your name?</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question1" value="B" id="question1-option2" >
                <label class="form-check-label" for="question1-option2">My name is...</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question1" value="C" id="question1-option3" >
                <label class="form-check-label" for="question1-option3">Nice to meet you</label>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            2. Kalimat mana yang digunakan untuk bertanya nama teman?
            <div class="form-check mt-3">
                <input class="form-check-input" type="radio" name="question2" value="A" id="question2-option1">
                <label class="form-check-label" for="question2-option1">I am fine</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question2" value="B" id="question2-option2">
                <label class="form-check-label" for="question2-option2">What's your name?</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question2" value="C" id="question2-option3">
                <label class="form-check-label" for="question2-option3">My name is..</label>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            3. Kata yang tepat untuk melengkapi kalimat "Hello, _____ is David" adalah... 
            <div class="form-check mt-3">
                <input class="form-check-input" type="radio" name="question3" value="A" id="question3-option1">
                <label class="form-check-label" for="question3-option1">I</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question3" value="B" id="question3-option2">
                <label class="form-check-label" for="question3-option2">My</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question3" value="C" id="question3-option3">
                <label class="form-check-label" for="question3-option3">He</label>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            4. Jika ingin menjawab pertanyaan "What's your name?", kita bisa menjawab... 
            <div class="form-check mt-3">
                <input class="form-check-input" type="radio" name="question4" value="A" id="question4-option1">
                <label class="form-check-label" for="question4-option1">Yes, I am</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question4" value="B" id="question4-option2">
                <label class="form-check-label" for="question4-option2">No, I'm not</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question4" value="C" id="question4-option3">
                <label class="form-check-label" for="question4-option3">My name is...</label>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            5. Kalimat mana yang merupakan contoh perkenalan diri yang benar? 
            <div class="form-check mt-3">
                <input class="form-check-input" type="radio" name="question5" value="A" id="question5-option1">
                <label class="form-check-label" for="question5-option1">I like to eat</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question5" value="B" id="question5-option2">
                <label class="form-check-label" for="question5-option2">I am a student</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question5" value="C" id="question5-option3">
                <label class="form-check-label" for="question5-option3">Hello, my name is...</label>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            6. Kata "nice to meet you" berarti.. 
            <div class="form-check mt-3">
                <input class="form-check-input" type="radio" name="question6" value="A" id="question6-option1">
                <label class="form-check-label" for="question6-option1">Senang bertemu denganmu</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question6" value="B" id="question6-option2">
                <label class="form-check-label" for="question6-option2">Nama saya</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question6" value="C" id="question6-option3">
                <label class="form-check-label" for="question6-option3">Apa kabar?</label>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body"> 
            7. Jika kita ingin bertanya usia teman, kita bisa menggunakan kalimat?
            <div class="form-check mt-3">
                <input class="form-check-input" type="radio" name="question7" value="A" id="question7-option1">
                <label class="form-check-label" for="question7-option1">How old are you?</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question7" value="B" id="question7-option2">
                <label class="form-check-label" for="question7-option2">What is your name?</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question7" value="C" id="question7-option3">
                <label class="form-check-label" for="question7-option3">Where are you from?</label>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            8. Kata "your" dalam bahasa indonesia artinya...
            <div class="form-check mt-3">
                <input class="form-check-input" type="radio" name="question8" value="A" id="question8-option1">
                <label class="form-check-label" for="question8-option1">Saya</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question8" value="B" id="question8-option2">
                <label class="form-check-label" for="question8-option2">Kamu</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question8" value="C" id="question8-option3">
                <label class="form-check-label" for="question8-option3">Dia</label>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body ">
            9. Kalimat "My name is..." digunakan untuk?
            <div class="form-check mt-3">
                <input class="form-check-input" type="radio" name="question9" value="A" id="question9-option1">
                <label class="form-check-label" for="question9-option1">Bertanya nama</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question9" value="B" id="question9-option2">
                <label class="form-check-label" for="question9-option2">Memperkenalkan diri</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question9"  value="C" id="question9-option3">
                <label class="form-check-label" for="question9-option3">Menjawab salam</label>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            10. Kata "hello" adalah ungkapan untuk...
            <div class="form-check mt-3">
                <input class="form-check-input" type="radio" name="question10" value="A" id="question10-option1">
                <label class="form-check-label" for="question10-option1">Menjawab pertanyaan</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question10" value="B" id="question10-option2">
                <label class="form-check-label" for="question10-option2">Mengucapkan salam</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question10" value="C" id="question10-option3">
                <label class="form-check-label" for="question10-option3">Meminta Tolong/label>
            </div>
        </div>
    </div>
    
    
    <div class="container mt-4">
        <div class="card mb-3">
            <div class="card-body">
                11. Bagaimana cara merespons ketika seseorang bertanya "How are you"?
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="question11" value="Good Night" id="q11a1">
                    <label class="form-check-label" for="q11a1">Good Night</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question11" value="Good Evening" id="q11a2">
                    <label class="form-check-label" for="q11a2">Good Evening</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question11" value="Good Morning" id="q11a3">
                    <label class="form-check-label" for="q11a3">Good Morning</label>
                </div>
            </div>
        </div>
    
        <div class="card mb-3">
            <div class="card-body">
                <p>12. Apa yang harus kita lakukan saat bertemu teman baru?</p>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="question12" value="Apa Kabar?" id="q12a1">
                    <label class="form-check-label" for="q12a1">Apa Kabar?</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question12" value="Selamat Tidur" id="q12a2">
                    <label class="form-check-label" for="q12a2">Selamat Tidur</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question12"  value="Selamat Datang" id="q12a3">
                    <label class="form-check-label" for="q12a3">Selamat Datang</label>
                </div>
            </div>
        </div>
    
        <div class="card mb-3">
            <div class="card-body">
                <p>13. Jika kita ingin tahu hobi teman, kita bisa bertanya...</p>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="question13" value="Im Fine, Thank You" id="q13a1">
                    <label class="form-check-label" for="q13a1">I'm Fine, Thank You</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question13" value="Im Tired" id="q13a2">
                    <label class="form-check-label" for="q13a2">I'm Tired</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question13" value="Im Not Fine" id="q13a3">
                    <label class="form-check-label" for="q13a3">I'm Not Fine</label>
                </div>
            </div>
        </div>
    
        <div class="card mb-3">
            <div class="card-body">
                <p>14. Kalimat apa yang tepat untuk digunakan saat mengakhiri percakapan?</p>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="question14" value="Pagi Hari" id="q14a1">
                    <label class="form-check-label" for="q14a1">Pagi Hari</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question14" value="Siang Hari" id="q14a2">
                    <label class="form-check-label" for="q14a2">Siang Hari</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question14" value="Malam Hari" id="q14a3">
                    <label class="form-check-label" for="q14a3">Malam Hari</label>
                </div>
            </div>
        </div>
    
        <div class="card mb-3">
            <div class="card-body">
                <p>15. Apa arti kata "age" dalam bahasa indonesia?</p>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="question15" value="Good Morning" id="q15a1">
                    <label class="form-check-label" for="q15a1">Good Morning</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question15" value="Good Night" id="q15a2">
                    <label class="form-check-label" for="q15a2">Good Night</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question15" value="Good Afternoon" id="q15a3">
                    <label class="form-check-label" for="q15a3">Good Afternoon</label>
                </div>
            </div>
        </div>
        
        <div class="card mb-3">
            <div class="card-body">
                <p>16. Bagaimana cara membuat kartu nama sederhana?</p>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="question16" value="Good Afternoon" id="q16a1">
                    <label class="form-check-label" for="q16a1">Good Afternoon</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question16" value="Good Night" id="q16a2">
                    <label class="form-check-label" for="q16a2">Good Night</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question16" value="Good Evening" id="q16a3">
                    <label class="form-check-label" for="q16a3">Good Evening</label>
                </div>
            </div>
        </div>
    
        <div class="card mb-3">
            <div class="card-body">
                <p>17. Apa saja yang bisa kita tuliskan di kartu nama?</p>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="question17" value="Siang" id="q17a1">
                    <label class="form-check-label" for="q17a1">Siang</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question17" value="Sore" id="q17a2">
                    <label class="form-check-label" for="q17a2">Sore</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question17" value="Akan Tidur" id="q17a3">
                    <label class="form-check-label" for="q17a3">Akan Tidur</label>
                </div>
            </div>
        </div>
    
        <div class="card mb-3">
            <div class="card-body">
                <p>18. Apa yang dimaksud dengan "role-play"?</p>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="question18" value="Im Fine, Thank You" id="q18a1">
                    <label class="form-check-label" for="q18a1">I'm Fine, Thank You</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question18" value="Im Bored" id="q18a2">
                    <label class="form-check-label" for="q18a2">I'm Bored</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question18" value="Im Hungry" id="q18a3">
                    <label class="form-check-label" for="q18a3">I'm Hungry</label>
                </div>
            </div>
        </div>
    
        <div class="card mb-3">
            <div class="card-body">
                <p>19. Mengapa kita perlu belajar memperkenalkan diri?</p>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="question19" value="Bertanya kabar" id="q19a1">
                    <label class="form-check-label" for="q19a1">Bertanya Kabar</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question19" value="Berkenalan" id="q19a2">
                    <label class="form-check-label" for="q19a2">Berkenalan</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question19" value="Menanyakan Nama" id="q19a3">
                    <label class="form-check-label" for="q19a3">Menanyakan Nama</label>
                </div>
            </div>
        </div>
    
        <div class="card mb-3">
            <div class="card-body">
                <p>20. Apa manfaat dari berlatih berbicara bahasa inggris?</p>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="question20" value="See You Later" id="q20a1">
                    <label class="form-check-label" for="q20a1">See You Later</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question20" value="Welcome" id="q20a2">
                    <label class="form-check-label" for="q20a2">Welcome</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question20" value="Good Night" id="q20a3">
                    <label class="form-check-label" for="q20a3">Good Night</label>
                </div>
            </div>
        </div>
    
    <a href="{% url 'edu_app:quizresult' %}">
    <div class="d-flex justify-content-end mb-4">
        <button class="btn btn-primary" onclick="alert('Terima kasih telah mengikuti kuis!')">Kirim Kuis</button>
    </div>
</div>
</a>
</form>
        
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
</body>
</html>

